<%- include('header') -%> 

    <!-- Título da lista de tarefas -->
    <div class="box" id="heading">
      <h1><%= tituloLista %> </h1>
    </div>
    <!-- Fim do Título da lista de tarefas -->

    <!-- Lista de tarefas -->
    <div class="box">
      <% minhasTarefas.forEach(tarefa => { %>
        <div class="item">
          <input type="checkbox">
          <p><%= tarefa.nome %></p>
        </div>
      <% }) %>

      <!-- Campo para inserir nova tarefa -->
      <form action="/" method="post">
        <input type="text" name="tarefa" placeholder="Nova tarefa" autocomplete="off">
        <button type="submit" name="lista" value=<%= tituloLista %>>+</button>
      </form>
      <!-- Fim do Campo para inserir nova tarefa -->

    </div>
    <!-- Fim da Lista de tarefas -->
    
<%- include('footer') -%> 